@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    padding: 0;
    margin:0;

    font-family: "Quicksand", serif;
}

/*Header Section*/
header .menu-icon{
    position: absolute;
    left:30px;
}

header .head{
    margin:0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    background-color: #FFF4EA;
}
header .head .logo{
    align-items: center;
}
header .head .logo h1{
    color: #227B94;
}
header .head .search-bar{
    position: absolute;
    right: 30px;
}
header .nav-list ul{
    display: flex;
    justify-content: space-around;

    padding: 10px;

    background-color: #FADFA1;
}
header .nav-list ul li{
    list-style-type:none;
}    
header .nav-list ul li a{
    text-decoration: none;
    cursor: pointer;
}
header .nav-list ul li a:hover{
    text-decoration: none;
    font-weight: bold;
}
header .nav-list ul li ul{
    display: none;
    position: absolute;

}
header .nav-list ul li:hover ul{
    display: block;
}

/*Main section*/
main{
    display: flex;
    margin: 20px auto;
}

/*Content Section*/
.content{
    display: flex;
    flex-direction: column;
    gap:20px;
}


/*Latest News*/
.latest-news{
    display: flex;
    width: 100vh;
}
.left{
    flex:2;
}
.left article{
    background-color: #f9f9f9; /* Warna latar belakang yang ringan */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 700px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.left article img{
    width:100%;
}
.right{
    flex:1
}
.right article{
    background-color: #f9f9f9; /* Warna latar belakang yang ringan */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.right article img{
    width:300px;
}

/*Popular Article*/
.popular-article{
    display: flex;
    flex-wrap: wrap;
}